tensorflow==2.10.0
keras==2.10.0
protobuf==3.20.3
google-cloud-storage==2.5.0
segmentation-models==1.0.1
numpy==1.23.5
opencv-python==4.6.0.66
pillow==11.1.0
matplotlib==3.10.0
fastapi==0.115.6
uvicorn==0.34.0
streamlit==1.16.0
python-multipart
altair==4.2.2
